*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.header, .hlist, .sect1, .left, .sect2, .container, .wrapper, .sect3, .quotebox, .sect4, .wrapper4 {
    display: flex;
}
.header, .sect1, .wrapper4, .footer {
    background-color: #05094b;
}
.header, .sect1 {
    justify-content: space-between;
}
.header, .hero, .b1, .sect4, .b2, .footer {
    color: #F9FAF8;
}
.header, .left {
    padding-left: 200px;
}
.header, .right {
    padding-right: 200px;
}
.header, .sect1 {
    padding-bottom: 100px;
}
.header, .wrapper { 
    gap: 10px;
}
.left, .sect2, .wrapper, .quotebox {
    flex-direction: column;
}
.left, .b1, .quotebox, .b2 {
    max-width: fit-content;
}
.hero, .info, .call {
    font-weight: 900;
}
.b1, .b2 {
    background-color: #3772F6;
    padding: 5px 30px;
    border-radius: 4px;
}
.sect2, .container, .sect3, .quotebox, .sect4 {
    justify-content: center;
}
.sect2, .quotebox {
    align-items: center;
}
.info, .quote {
    font-size: 36px;
    color: #1F2937;
}
.box, .small {
    width: 175px;
    height: 160px;
}
.wrapper, .footer {
    text-align: center;
}
.hero2, .hlist {
    font-size: 18px;
    color: #E5E7EB;
}
.sect3, .quotebox {
    height: 400px;
}
.wrapper4, .containerL, .containerR {
    margin: auto;
}
.hlist {
    list-style: none;
    gap: 16px;
}
.sect1 {
    gap: 25px;
}
.left {
    gap: 15px;
}
.hero {
    font-size: 48px;
}
.b1 {
    border: none;
}
.right {
    width: fit-content;
}
.crab {
    width: 340px;
    border: 5px solid #F9FAF8;
}
.sect2 {
    gap: 20px;   
}
.info {
    padding: 20px;
}
.box {
    border: solid #3772F6;
    border-radius: 10px;
}
.wrapper {
    width: 201px;
}
.subtext {
    max-width: 160px;
}
.sect3 {
    background-color: #E5E7EB;
    margin-top: 100px;
}
.quote {
    font-style: italic;
    font-weight: lighter;
    max-width: 770px;
}
.quoteauth {
    align-self: flex-end;
}
.sect4 {
    align-content: center;
    height: 300px;
}
.wrapper4 {
    height: 100px;
    width: 800px;
    border-radius: 4px;
}
.sign {
    font-weight: 300;
}
.b2 {
    border: 1px solid white
}
.footer {
    height: 65px;
}
.ftext {
    padding-top: 20px;
}
.small {
    border-radius: 8px;
}